{% extends 'base.html' %}

{% block content %}
  <h1>Games Detail</h1>
  <a href="{% url 'games_update' game.id %}">Edit Game</a><br>
  <a href="{% url 'games_delete' game.id %}">Delete Game</a><br><br><hr>

<p>
    <div>
      {{game.name}}<br><br>
      
      {{game.date}}<br><br>

      {{game.address}}<br>
      {{game.city}}, {{game.state}}<br><br>

      {{game.organizer}}<br>
      {{game.contact}}<br><br>

      {{game.website}}<br>
      {{game.facebook}}<br><br>

      {{game.description}}<br><br><hr><br>

    </div>
</p>

{% endblock %}