{% extends 'base.html' %}

{% load static %}

{% block content %}





<main class="bg-blue-300 bg-cover h-full w-full" id="gamesbg">

{% if user.is_authenticated %}
  <div class=" flex flex-row justify-center">
    <a href='{% url 'games_create' %}'>
      <div class="rounded-full py-3 px-6 w-32 shadow-2xl border-2 bg-yellow-600 text-white hover:border-yellow-500 text-center mt-8">
            Add Event
      </div>
    </a>
  </div>
{% else %}
<div class=" flex flex-row justify-center">
    <a href='{% url 'register' %}'>
      <div class="rounded-full py-3 px-6 shadow-2xl border-2 bg-yellow-600 text-white hover:border-yellow-500 text-center mt-8">
            Login as an organizer to add/update events.
      </div>
    </a>
  </div>
{% endif %}

  <div class="w-screen flex flex-row flex-wrap items-center justify-evenly">
  {% for game in games %}
    <div class="rounded-lg shadow-2xl my-10 mx-4 border">
        <div class="bg-gray-100 rounded-lg w-72">
            <img src="{% static 'images/cardimg.jpeg' %}" alt=""
                class="w-full h-48 transition duration-300 rounded-t-lg sm:h-56 opacity-80 hover:opacity-100"/>
            <div class="px-10 py-4 text-center">
              <div class="mb-4 text-2xl text-purple-600 uppercase celtfont h-20 items-center flex items center justify-center">
                <div>{{game.name}}</div>
              </div>
              <div class="flex flex-col h-full">
                <div class="text-1xl h-12 flex items-center justify-center">
                  <div class="w-12"><i class='bx bxs-map bx-lg'></i></div>
                  <div class="">{{game.city}}, {{game.state}}</div>
                </div>
                <div class="text-1xl h-12 flex items-center justify-center">
                  <div class="w-12"><i class="bx bxs-calendar"></i></div> 
                  <div class="">{{game.date}}</div>
                </div>
              </div>
            </div>
            <a href="{% url 'games_detail' game.id %}">
            <button
                class="-mt-2 w-full h-12 text-lg font-extrabold text-gray-100 transition duration-300 bg-yellow-600 rounded-b-lg hover:bg-yellow-700 celtfont">VIEW
                DETAILS</button>
            </a>
        </div>
    </div>
  {% endfor %}
    </div>
</main>
{% endblock %}











