{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="heightMinusNav bg-cover" id="formbg">
  <section class="flex flex-col items-center ">

<div class="bg-gray-50 opacity-80 mt-20 rounded p-5">
    <div class="flex flex-row justify-center mb-5 text-2xl font-semibold">
      <div>Sign Up</div>
    </div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">
    <div>
      Submit!
    </div>
  </button>
</form>
</div>


  </section>
</div>


{% endblock %}