{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="flex flex-row heightMinusNav">
  <div class="min-w-max">
    <img src="{% static 'images/stoneput.jpg' %}" class="opacity-90 hover:opacity-100 object-cover h-full">
  </div>
    <div class="flex flex-col px-32 py-20 overflow-y-scroll items-center bg-gray-50">
      <div class="w-full h-12 mb-12">
        <ul class="flex flex-row justify-evenly">
          <li><a href="#caber">Caber Toss</a></li>
          <li><a href="#stone">Stone Throw<a></li>
          <li><a href="#wfd">Weight for Distance</a></li>
          <li><a href="#hammer">Hammer Throw</a></li>
          <li><a href="#wob">Weight for Height</a></li>
          <li><a href="#sheaf">Sheaf Toss</a></li>
        </ul>
      </div>
      <div class="">
        <div class="my-10 leading-8" id="caber">
          <div class="text-center mb-3 underline text-xl">Caber Toss</div>
          The caber toss is a traditional Scottish athletic event in which the competitor tosses a large tapered pole called a "caber". The caber is a tree that has been cut and trimmed down so one end is slightly wider than the other. It can vary in length from 16 to 22 feet and between 100 and 180 pounds. The smaller end is rounded off so that it will be easy to cup in the thrower's hands. He then takes a short run with the caber and then stops and pulls the caber so that the large end hits the ground and the small end flips over and faces away from the thrower. The caber is scored for accuracy as though the thrower is facing the 12:00 position on a clock face. A judge behind the thrower calls how close to the 12:00 position the small end of the caber lands. 12:00 being a perfect toss. If the caber is not turned, a side judge calls the degrees of the angle the caber makes with the ground.
        </div>

        <div class="my-10 leading-8" id="stone">
          <div class="text-center mb-3 underline text-xl">Stone Put</div>
          This event is similar to the modern-day shot put as seen in the Olympic games. Instead of a steel shot, a large stone of variable weight is often used. There are also some differences from the Olympic shot put in allowable techniques. There are two versions of the stone toss events, differing in allowable technique. The “Braemar Stone” uses a 20–26 lb stone for men (13–18 lb. for women) and does not allow any run up to the toeboard or “trig” to deliver the stone, i.e., it is a standing put. In the “Open Stone” using a 16–22 lb. stone for men (or 8–12 lb. for women), the thrower is allowed to use any throwing style so long as the stone is put with one hand with the stone resting cradled in the neck until the moment of release. Most athletes in the open stone event use either the “glide” or the “spin” techniques.
        </div>

        <div class="my-10 leading-8" id="wfd">
          <div class="text-center mb-3 underline text-xl">Weight for Distance</div>
          Weight for distance, also known as the weight throw event. There are actually two separate events, one using a light (28 lb. for men and 14 lb. for women) and the other a heavy (56 lb for men, 42 lb. for masters men, and 28 lb for women) weight. The weights are made of metal and have a handle attached by means of a chain. The implement is thrown with one hand using any technique. Usually a spinning technique is employed. The longest throw wins.
        </div>

        <div class="my-10 leading-8" id="hammer">
          <div class="text-center mb-3 underline text-xl">Hammer Throw</div>
          This event is similar to the hammer throw as seen in modern-day track and field competitions, though with some differences. In the Scottish event, a round metal ball (weighing 16 or 22 lb. for men or 12 or 16 lb. for women) is attached to the end of a shaft about 4 feet in length and made out of wood, bamboo, rattan, or plastic. With the feet in a fixed position, the hammer is whirled about one’s head and thrown for distance over the shoulder. Hammer throwers sometimes employ specially designed footwear with flat blades to dig into the turf to maintain their balance and resist the centrifugal forces of the implement as it is whirled about the head. This substantially increases the distance attainable in the throw.
        </div>

        <div class="my-10 leading-8" id="wob">
          <div class="text-center mb-3 underline text-xl">Weight for Height/Weight Over Bar</div>
          In this event, the athletes attempt to toss a 56 pound (4 stone) weight (28 pounds for women) with an attached handle over a horizontal bar using only one hand. Each athlete is allowed three attempts at each height. Successful clearance of the height allows the athlete to advance into the next round at a greater height. The competition is determined by the highest successful toss with the fewest misses being used to break tie scores. 
        </div>

        <div class="my-10 leading-8" id="sheaf">
          <div class="text-center mb-3 underline text-xl">Sheaf Toss</div>
          A bundle of straw (the sheaf) weighting 20 pounds (9 kg) for the men and 10 pounds (4.5 kg) for the women and wrapped in a burlap bag is tossed vertically with a pitchfork over a raised bar much like that used in pole vaulting. The progression and scoring of this event is similar to the Weight Over The Bar. There is significant debate among athletes as to whether the sheaf toss is in fact an authentic Highland event. Some argue it is actually a country fair event, but all agree is is a great crowd pleaser. 
        </div>
        <div class="mt-20 leading-8 text-xs">
        Source:
        <a href="https://www.scottishheavyathletics.com/event-descriptions.html#/">
          <i class="text-blue-600">
            https://www.scottishheavyathletics.com/event-descriptions.html#/
          </i>
        </a>
      </div>
      </div>
    </div>   
</div> 





{% endblock %}