@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: 'stonecrossregular';
  src: url('../fonts/st______-webfont.woff2') format('woff2'),
       url('../fonts/st______-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  background-image: "main_app/static/images/background1.jpeg";
}

.celtfont {
  font-family: 'MedievalSharp', cursive;
}

.stonefont {
  font-family: 'stonecrossregular';
}

#navtitle {
  font-family: 'stonecrossregular';
}

#jumbo {
  background-image: url("../images/background2.jpeg");
}

#detailsbg {
  background-image: url("../images/background1.jpeg");
}

#flagbutton {
  background-image: url("../images/flagpin2.png");
  background-position: center;
}

.heightMinusNav {
  height: calc(100% - 5rem);
}

#caber:target {
  background: #fccc5d;
  padding: 10px;
}

#stone:target {
  background: #fccc5d;
  padding: 10px;
}

#wfd:target {
  background: #fccc5d;
  padding: 10px;
}

#hammer:target {
  background: #fccc5d;
  padding: 10px;
}

#wob:target {
  background: #fccc5d;
  padding: 10px;
}

#sheaf:target {
  background: #fccc5d;
  padding: 10px;
}

#id_name, #id_state, #id_city, #id_address, #id_year, #id_date, #id_organizer, #id_contact, #id_website, #id_facebook, #id_description {
  border: 1px solid rgb(182, 177, 177);
}

