@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: 'stonecrossregular';
  src: url('../fonts/st______-webfont.woff2') format('woff2'),
       url('../fonts/st______-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  background-image: "main_app/static/images/background1.jpeg";
}

.celtfont {
  font-family: 'MedievalSharp', cursive;
}

.stonefont {
  font-family: 'stonecrossregular';
}

#navtitle {
  font-family: 'stonecrossregular';
}

#jumbo {
  background-image: url("../images/background2.jpeg");
}

#detailsbg {
  background-image: url("../images/background1.jpeg");
}

#flagbutton {
  background-image: url("../images/flagpin2.png");
  background-position: center;
}

#gamesbg {
  background-image: url("../images/background5.jpeg");
  background-position: center;
}

#formbg {
  background-image: url("../images/background3.jpeg");
  background-position: center;
}

.heightMinusNav {
  height: calc(100% - 5rem);
}

#caber:target,
#stone:target,
#wfd:target,
#hammer:target,
#wob:target,
#sheaf:target {
  display: block;
  padding: 10px;
}

#caber,
#stone,
#wfd,
#hammer,
#wob,
#sheaf {
  display: none;
  padding: 10px;
  background: #fdff78;

}

#id_name, #id_state, #id_city, #id_address, #id_year, #id_date, #id_organizer, #id_contact, #id_website, #id_facebook, #id_description, 

#id_username, #id_password, #id_password1, #id_password2 {
  border: 1px solid rgb(182, 177, 177);
}

#id_name:hover, #id_state:hover, #id_city:hover, #id_address:hover, #id_year:hover, #id_date:hover, #id_organizer:hover, #id_contact:hover, #id_website:hover, #id_facebook:hover, #id_description:hover, 

#id_username:hover, #id_password:hover, #id_password1:hover, #id_password2:hover {
  border: 1px solid rgb(0, 0, 0);
}

